/*
 * Emigre web font kit zzFSlPM003Czw2Z1LA==
 * 
 * These fonts are not shareware. 
 * Use of these fonts requires the purchase 
 * of a license from Emigre, www.emigre.com  
 * Please contact sales@emigre.com
 *
 * To purchase a license to use this font go to:
 * https://www.emigre.com/
 *
 * © 2025 Emigre, Inc
 */




@font-face {
    font-family: 'mreavesxlmodot-reg';
    src: url('mreavesxlmodot-reg-webfont.woff2') format('woff2'),
         url('mreavesxlmodot-reg-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
